@font-face {
  font-family: 'Fawanhu';
  src:  url('fonts/Fawanhu.eot?yxwlbu');
  src:  url('fonts/Fawanhu.eot?yxwlbu#iefix') format('embedded-opentype'),
    url('fonts/Fawanhu.ttf?yxwlbu') format('truetype'),
    url('fonts/Fawanhu.woff?yxwlbu') format('woff'),
    url('fonts/Fawanhu.svg?yxwlbu#Fawanhu') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Fawanhu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-minus:before {
  content: "\f000";
}
.fa-plus:before {
  content: "\f001";
}
.fa-times:before {
  content: "\f002";
}
.fa-refresh:before {
  content: "\f003";
}
.fa-angle-left:before {
  content: "\f004";
}
.fa-angle-right:before {
  content: "\f005";
}
.fa-angle-up:before {
  content: "\f006";
}
.fa-angle-down:before {
  content: "\f007";
}
.fa-folder-open:before {
  content: "\f008";
}
.fa-folder-open-o:before {
  content: "\f009";
}
.fa-folder-o:before {
  content: "\f00a";
}
.fa-folder:before {
  content: "\f00b";
}
.fa-circle:before {
  content: "\f00c";
}
.fa-circle-o:before {
  content: "\f00d";
}
.fa-dotted-circle:before {
  content: "\f00e";
}
.fa-plus-square-o:before {
  content: "\f00f";
}
.fa-minus-square-o:before {
  content: "\f010";
}
.fa-paperclip:before {
  content: "\f011";
}
.fa-plus-circle:before {
  content: "\f012";
}
.fa-check-circle:before {
  content: "\f013";
}
.fa-check-circle-o:before {
  content: "\f014";
}
.fa-question-circle:before {
  content: "\f015";
}
.fa-paper-plane:before {
  content: "\f016";
}
.fa-smile-o:before {
  content: "\f017";
}
.fa-caret-left:before {
  content: "\f018";
}
.fa-caret-right:before {
  content: "\f019";
}
.fa-cloud-upload:before {
  content: "\f01a";
}
.fa-more:before {
  content: "\f01b";
}
.fa-new:before {
  content: "\f01c";
}
.fa-phone-square:before {
  content: "\f01d";
}
.fa-reply-all:before {
  content: "\f01e";
}
.fa-pencil:before {
  content: "\f01f";
}
.fa-archive:before {
  content: "\f020";
}
.fa-book:before {
  content: "\f021";
}
.fa-briefcase:before {
  content: "\f022";
}
.fa-calculator:before {
  content: "\f023";
}
.fa-clock-o:before {
  content: "\f024";
}
.fa-cog:before {
  content: "\f025";
}
.fa-comments:before {
  content: "\f026";
}
.fa-comments-o:before {
  content: "\f027";
}
.fa-custom-mod:before {
  content: "\f028";
}
.fa-desktop:before {
  content: "\f029";
}
.fa-envelope:before {
  content: "\f02a";
}
.fa-file-mana:before {
  content: "\f02b";
}
.fa-globe:before {
  content: "\f02c";
}
.fa-home:before {
  content: "\f02d";
}
.fa-laptop:before {
  content: "\f02e";
}
.fa-lightbulb-o:before {
  content: "\f02f";
}
.fa-link:before {
  content: "\f030";
}
.fa-map-marker:before {
  content: "\f031";
}
.fa-share-alt:before {
  content: "\f032";
}
.fa-share-square-o:before {
  content: "\f033";
}
.fa-short-mes:before {
  content: "\f034";
}
.fa-user:before {
  content: "\f035";
}
.fa-weibo:before {
  content: "\f036";
}
.fa-arrow-circle-o-left:before {
  content: "\f037";
}
.fa-arrow-circle-up:before {
  content: "\f038";
}
.fa-bullhorn:before {
  content: "\f039";
}
.fa-calendar:before {
  content: "\f03a";
}
.fa-clipboard:before {
  content: "\f03b";
}
.fa-envelope-o:before {
  content: "\f03c";
}
.fa-film:before {
  content: "\f03d";
}
.fa-globe2:before {
  content: "\f03e";
}
.fa-hand-o-up:before {
  content: "\f03f";
}
.fa-historys:before {
  content: "\f040";
}
.fa-line-chart:before {
  content: "\f041";
}
.fa-list-alt:before {
  content: "\f042";
}
.fa-newspaper-o:before {
  content: "\f043";
}
.fa-random:before {
  content: "\f044";
}
.fa-share-alt-square:before {
  content: "\f045";
}
.fa-tablet:before {
  content: "\f046";
}
.fa-tag:before {
  content: "\f047";
}
.fa-tags:before {
  content: "\f048";
}
.fa-th-lists:before {
  content: "\f049";
}
.fa-ths:before {
  content: "\f04a";
}
.fa-user-plus:before {
  content: "\f04b";
}
.fa-asset-mana:before {
  content: "\f04c";
}
.fa-car:before {
  content: "\f04d";
}
.fa-card-order:before {
  content: "\f04e";
}
.fa-contract-mana:before {
  content: "\f04f";
}
.fa-data-mana:before {
  content: "\f050";
}
.fa-equipment-mana:before {
  content: "\f051";
}
.fa-item-mana:before {
  content: "\f052";
}
.fa-leaf:before {
  content: "\f053";
}
.fa-meeting-mana:before {
  content: "\f054";
}
.fa-online-sur:before {
  content: "\f055";
}
.fa-project-mana:before {
  content: "\f056";
}
.fa-questionnaire-inv:before {
  content: "\f057";
}
.fa-cog2:before {
  content: "\f058";
}
.fa-essence-pro:before {
  content: "\f059";
}
.fa-expert-gro:before {
  content: "\f05a";
}
.fa-expert-set:before {
  content: "\f05b";
}
.fa-personal-pro:before {
  content: "\f05c";
}
.fa-file:before {
  content: "\f05d";
}
.fa-file-text:before {
  content: "\f05e";
}
.fa-my-release:before {
  content: "\f05f";
}
.fa-pencil-square-o:before {
  content: "\f060";
}
.fa-pie-chart:before {
  content: "\f061";
}
.fa-search-plus:before {
  content: "\f062";
}
.fa-street-view:before {
  content: "\f063";
}
.fa-directory-mana:before {
  content: "\f064";
}
.fa-expired-doc:before {
  content: "\f065";
}
.fa-files-o:before {
  content: "\f066";
}
.fa-historical-doc:before {
  content: "\f067";
}
.fa-invalid-doc:before {
  content: "\f068";
}
.fa-loan-o:before {
  content: "\f069";
}
.fa-receiving-doc:before {
  content: "\f06a";
}
.fa-attendance-mana:before {
  content: "\f06b";
}
.fa-cards-mana:before {
  content: "\f06c";
}
.fa-salary-mana:before {
  content: "\f06d";
}
.fa-social-ins:before {
  content: "\f06e";
}
.fa-training-mana:before {
  content: "\f06f";
}
.fa-custom-mai:before {
  content: "\f070";
}
.fa-mailbox-con:before {
  content: "\f071";
}
.fa-comment:before {
  content: "\f072";
}
.fa-essence-inf:before {
  content: "\f073";
}
.fa-forum-mana:before {
  content: "\f074";
}
.fa-my-post:before {
  content: "\f075";
}
.fa-my-reply:before {
  content: "\f076";
}
.fa-inbox:before {
  content: "\f077";
}
.fa-leader-inq:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-sign-in:before {
  content: "\f07a";
}
.fa-sign-out:before {
  content: "\f07b";
}
.fa-sitemap:before {
  content: "\f07c";
}
.fa-trash-o:before {
  content: "\f07d";
}
.fa-flag:before {
  content: "\f07e";
}
.fa-mail-list:before {
  content: "\f07f";
}
.fa-personal-too:before {
  content: "\f080";
}
.fa-staff-whe:before {
  content: "\f081";
}
.fa-work-rep:before {
  content: "\f082";
}
.fa-attendance-inf:before {
  content: "\f083";
}
.fa-directory-mana2:before {
  content: "\f084";
}
.fa-personnel-pos:before {
  content: "\f085";
}
.fa-white-list:before {
  content: "\f086";
}
.fa-archives-des:before {
  content: "\f087";
}
.fa-file-bor:before {
  content: "\f088";
}
.fa-file-que:before {
  content: "\f089";
}
.fa-file-set:before {
  content: "\f08a";
}
.fa-bar-chart:before {
  content: "\f08b";
}
.fa-handling-tas:before {
  content: "\f08c";
}
.fa-received-tas:before {
  content: "\f08d";
}
.fa-task-que:before {
  content: "\f08e";
}
.fa-bell:before {
  content: "\f08f";
}
.fa-info-circle:before {
  content: "\f090";
}
.fa-power-off:before {
  content: "\f091";
}
.fa-search:before {
  content: "\f092";
}
.fa-skin:before {
  content: "\f093";
}
.fa-users:before {
  content: "\f094";
}
.fa-th-large:before {
  content: "\f095";
}
.fa-lock:before {
  content: "\f096";
}
.fa-file-o:before {
  content: "\f097";
}
.fa-key:before {
  content: "\f098";
}
.fa-thumbs-o-up:before {
  content: "\f099";
}
.fa-star-o:before {
  content: "\f09a";
}
.fa-star:before {
  content: "\f09b";
}
.fa-times-circle-o:before {
  content: "\f09c";
}
.fa-eye:before {
  content: "\f09d";
}
.fa-minus-circle:before {
  content: "\f09e";
}
.fa-times-circle:before {
  content: "\f09f";
}
.fa-caret-top:before {
  content: "\f0a0";
}
.fa-caret-down:before {
  content: "\f0a1";
}
.fa-download:before {
  content: "\f0a2";
}
.fa-trash:before {
  content: "\f0a3";
}
.fa-saveas:before {
  content: "\f0a4";
}
.fa-jpy:before {
  content: "\f0a5";
}
.fa-minus-circle-o:before {
  content: "\f0a6";
}
.fa-meeting:before {
  content: "\f0a7";
}
.fa-log:before {
  content: "\f0a8";
}
.fa-forum:before {
  content: "\f0a9";
}
.fa-email-send:before {
  content: "\f0aa";
}
.fa-email-recive:before {
  content: "\f0ab";
}
.fa-email-draft:before {
  content: "\f0ac";
}
.fa-contact:before {
  content: "\f0ad";
}
.fa-view-modal:before {
  content: "\f0ae";
}
.fa-view-column:before {
  content: "\f0af";
}
.fa-under-log:before {
  content: "\f0b0";
}
.fa-step-start:before {
  content: "\f0b1";
}
.fa-step-pre:before {
  content: "\f0b2";
}
.fa-step-over:before {
  content: "\f0b3";
}
.fa-step-mine:before {
  content: "\f0b4";
}
.fa-sign-log:before {
  content: "\f0b5";
}
.fa-sign:before {
  content: "\f0b6";
}
.fa-push:before {
  content: "\f0b7";
}
.fa-my-log:before {
  content: "\f0b8";
}
.fa-Info-home:before {
  content: "\f0b9";
}
.fa-forum-home:before {
  content: "\f0ba";
}
.fa-phone:before {
  content: "\f0bb";
}
.fa-fujian:before {
  content: "\f0bc";
  color: #6b6c6e;
}
.fa-video:before {
  content: "\f0bd";
}
.fa-envelope-a:before {
  content: "\f0be";
  color: #6b6c6e;
}
.fa-envelope-b:before {
  content: "\f0bf";
  color: #58595b;
}
.fa-user-pro:before {
  content: "\f0c0";
}
.fa-bbs:before {
  content: "\f0c1";
  color: #316cb6;
}
.fa-email-c:before {
  content: "\f0c2";
  color: #316cb6;
}
.fa-custom:before {
  content: "\f0c3";
  color: #316cb6;
}
.fa-gongwen:before {
  content: "\f0c4";
  color: #306cb6;
}
.fa-hyzs:before {
  content: "\f0c5";
  color: #316cb6;
}
.fa-information:before {
  content: "\f0c6";
  color: #316cb6;
}
.fa-position:before {
  content: "\f0c7";
  color: #316cb6;
}
.fa-wjdc:before {
  content: "\f0c8";
  color: #316cb6;
}
.fa-process:before {
  content: "\f0c9";
  color: #316cb6;
}
.fa-eraser:before {
  content: "\f0ca";
}
.fa-qr-code:before {
  content: "\f0cb";
}
.fa-check:before {
  content: "\f0cc";
}
.fa-questions:before {
  content: "\f0cd";
}
.fa-task:before {
  content: "\f0ce";
}
.fa-schedule:before {
  content: "\f0cf";
}
.fa-log-b:before {
  content: "\f0d0";
}
.fa-check-in:before {
  content: "\f0d1";
}
.fa-infomation:before {
  content: "\f0d2";
}
.fa-report:before {
  content: "\f0d3";
}
.fa-mail:before {
  content: "\f0d4";
}
.fa-forum-a:before {
  content: "\f0d5";
}
.fa-three-line:before {
  content: "\f0d6";
}
.fa-company:before {
  content: "\f0d7";
}
.fa-sex:before {
  content: "\f0d8";
}
.fa-box:before {
  content: "\f0d9";
}
.fa-num:before {
  content: "\f0da";
}
.fa-per:before {
  content: "\f0db";
}
.fa-noselect:before {
  content: "\f0dc";
}
.fa-selected:before {
  content: "\f0dd";
}
.fa-man:before {
  content: "\f0de";
}
.fa-lady:before {
  content: "\f0df";
}
.fa-camera:before {
  content: "\f0e0";
}
.fa-boxa:before {
  content: "\f0e1";
}
.fa-daiban:before {
  content: "\f0e2";
}
.fa-daiyue:before {
  content: "\f0e3";
}
.fa-yiban:before {
  content: "\f0e4";
}
.fa-yiyue:before {
  content: "\f0e5";
}
.fa-gz:before {
  content: "\f0e6";
}
.fa-mine:before {
  content: "\f0e7";
}
.fa-return:before {
  content: "\f0e8";
}
.fa-lightser:before {
  content: "\f0e9";
}
.fa-gcard:before {
  content: "\f0ea";
}
.fa-flower:before {
  content: "\f0eb";
}
.fa-heart:before {
  content: "\f0ec";
}
.fa-cake:before {
  content: "\f0ed";
}
.fa-sort:before {
  content: "\f0ee";
}
.fa-sortline:before {
  content: "\f0ef";
}
.fa-curve:before {
  content: "\f0f0";
}
.fa-arrow:before {
  content: "\f0f1";
}
.fa-driver:before {
  content: "\f0f2";
}
.fa-newcar:before {
  content: "\f0f3";
}
.fa-taskcenter:before {
  content: "\f0f4";
}
.fa-task-kh:before {
  content: "\f0f5";
}
.fa-heartper:before {
  content: "\f0f6";
}
.fa-right-a:before {
  content: "\f0f7";
}
.fa-lock1:before {
  content: "\f0f8";
}
.fa-lock2:before {
  content: "\f0f9";
}
.fa-circle-select:before {
  content: "\f0fa";
}
.fa-circle-selected:before {
  content: "\f0fb";
}
.fa-one-per:before {
  content: "\f0fc";
}
.fa-two-per:before {
  content: "\f0fd";
}
.fa-evo-tjg:before {
  content: "\f0fe";
}
.fa-line-phone:before {
  content: "\f0ff";
}
.fa-j-more:before {
  content: "\f100";
}
.fa-line-more:before {
  content: "\f101";
}
.fa-hz-more:before {
  content: "\f102";
}
.fa-new-arrow:before {
  content: "\f103";
}
.fa-daiban-c:before {
  content: "\f104";
}
.fa-daiyue-c:before {
  content: "\f105";
}
.fa-yiban-c:before {
  content: "\f106";
}
.fa-yiyue-c:before {
  content: "\f107";
}
.fa-mine-c:before {
  content: "\f108";
}
.fa-return-c:before {
  content: "\f109";
}
.fa-ifo-c:before {
  content: "\f10a";
}
.fa-mail-c:before {
  content: "\f10b";
}
.fa-huibao-c:before {
  content: "\f10c";
}
.fa-rizhi-c:before {
  content: "\f10d";
}
.fa-schedule-c:before {
  content: "\f10e";
}
.fa-liucheng-c:before {
  content: "\f10f";
}
.fa-forum-c:before {
  content: "\f110";
}
.fa-blog-c:before {
  content: "\f111";
}
.fa-fawen-c:before {
  content: "\f112";
}
.fa-shouwen-c:before {
  content: "\f113";
}
.fa-shenqian-c:before {
  content: "\f114";
}
.fa-circle-fine:before {
  content: "\f115";
}
.fa-circle-sele-fine:before {
  content: "\f116";
}
.fa-plus-fine:before {
  content: "\f117";
}
.fa-star-half:before {
  content: "\f118";
}
.fa-new-bulid:before {
  content: "\f119";
}
.fa-select-small:before {
  content: "\f11a";
}
.fa-dir:before {
  content: "\f11b";
}
.fa-goback:before {
  content: "\f11c";
}
.fa-cloud:before {
  content: "\f11d";
}
.fa-ding:before {
  content: "\f11e";
}
.fa-weixin:before {
  content: "\f11f";
}
.fa-internet:before {
  content: "\f120";
}
.fa-iphone:before {
  content: "\f121";
}
.fa-tips:before {
  content: "\f122";
}
.fa-sign-up:before {
  content: "\f123";
}
.fa-turn-to:before {
  content: "\f124";
}
.fa-meeting-minu:before {
  content: "\f125";
}
.fa-application:before {
  content: "\f126";
}
.fa-transfer:before {
  content: "\f127";
}
.fa-clean-up:before {
  content: "\f128";
}
.fa-receipt:before {
  content: "\f129";
}
.fa-edit:before {
  content: "\f12a";
}
.fa-reply:before {
  content: "\f12b";
}
.fa-even-more:before {
  content: "\f12c";
}
.fa-save-more:before {
  content: "\f12d";
}
.fa-delete-fine:before {
  content: "\f12e";
}
.fa-search-fine:before {
  content: "\f12f";
}
.fa-schedule-syn:before {
  content: "\f130";
}
.fa-meeting-fine:before {
  content: "\f131";
}
.fa-evo:before {
  content: "\f132";
}
.fa-evoportl:before {
  content: "\f133";
}
.fa-times-fine:before {
  content: "\f134";
}
.fa-meeting-delay:before {
  content: "\f135";
}
.fa-meeting-delay-fine:before {
  content: "\f136";
}
.fa-new-motion:before {
  content: "\f137";
}
.fa-info-reveal:before {
  content: "\f138";
}
.fa-info-reveal-fine:before {
  content: "\f139";
}
.fa-in-mana:before {
  content: "\f13a";
}
.fa-app-mana:before {
  content: "\f13b";
}
.fa-link-cut:before {
  content: "\f13c";
}
.fa-home-page:before {
  content: "\f13d";
}
.fa-wanhu:before {
  content: "\f13e";
}
.fa-wechat:before {
  content: "\f13f";
}
.fa-password-fine:before {
  content: "\f140";
}
.fa-meeting-notice:before {
  content: "\f141";
}
.fa-nodpass:before {
  content: "\f142";
}
.fa-voice:before {
  content: "\f143";
}
.fa-annex:before {
  content: "\f144";
}
.fa-group-add:before {
  content: "\f145";
}
.fa-telephone:before {
  content: "\f146";
}
.fa-voice-solid:before {
  content: "\f147";
}
.fa-famale:before {
  content: "\f148";
}
.fa-male:before {
  content: "\f149";
}
.fa-hourglass:before {
  content: "\f14a";
}
.fa-home-personal:before {
  content: "\f14b";
}
.fa-super-vision:before {
  content: "\f14c";
}
.fa-max:before {
  content: "\f14d";
}
.fa-min:before {
  content: "\f14e";
}
.fa-exam-record:before {
  content: "\f14f";
}
.fa-invoice-record:before {
  content: "\f150";
}
.fa-hand-record:before {
  content: "\f151";
}
.fa-scan-record:before {
  content: "\f152";
}
.fa-volume-line:before {
  content: "\f153";
}
.fa-volume-solid:before {
  content: "\f154";
}
.fa-custom-service:before {
  content: "\f155";
}
.fa-load:before {
  content: "\f156";
}
.fa-warn:before {
  content: "\f157";
}
.fa-shopping-cat:before {
  content: "\f158";
}
.fa-factory-out:before {
  content: "\f159";
}
.fa-factory-in:before {
  content: "\f15a";
}
.fa-radio:before {
  content: "\f15b";
}
.fa-checkbox:before {
  content: "\f15c";
}
.fa-ask-answer:before {
  content: "\f15d";
}
.fa-invoice:before {
  content: "\f15e";
}
